name: Hello World

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  hello_world_job:
    runs-on: ubuntu-24.04.3
    steps:
      - name: Say Hello
        run: echo "Hello World!"